*{margin: 0px; padding: 0px; }
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Srisakdi&display=swap');

:root{
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Srisakdi', cursive;}

/*
font-family: 'Passion One', cursive;
font-family: 'Srisakdi', cursive;
*/

html, body{
    min-height: 100vh; font-family:Verdana, Geneva, Tahoma, sans-serif;}
header{
    background-color: black;
    color: white;
    text-align: center;}
header > h1{
    font-variant: small-caps;
    font-size: 35px;
    
    padding-top: 50px; font-family: var(--fonte2);}
header > p{
    padding-bottom: 50px;
font-size: 20px;}
section{
    padding-top: 10vh;
    padding-bottom: 10vh; font-family: var(--fonte3);   }
section.normal{
    background-color: rgb(246, 248, 250);padding: 40px 10px;}

section.imagem{
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.509);
    }
section.imagem > p{
    
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.201);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);
    color: white;
}

h2{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.201);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);
    color: white;
    font-size: 35px;

}


    section#img1{
        background-image: url(Imagem/background001.jpg);
        background-position: center center;
        background-size: cover ;
        background-attachment: fixed;
    }
    section#img2{
        background-image: url(Imagem/background002.jpg);
        background-position: left center;
        background-size: cover ;
        background-attachment: fixed;}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;    }